SAColaoECommerce/__pycache__/__init__.cpython-36.pyc
SAColaoECommerce/__pycache__/urls.cpython-36.pyc
SAColaoECommerce/__pycache__/wsgi.cpython-36.pyc
SAColaoECommerce/settings/__pycache__/*
project/cart/__pycache__/
project/customer_support/__pycache__/
project/payment/__pycache__/
project/products/__pycache__/
project/website/__pycache__/

*.pyc
db.sqlite3
__pycache__
local_settings.py
